---
permalink: /en/llms.txt
eleventyExcludeFromCollections: true
---
# See: {{ site.url }}/llms.txt
# The full version of this file is at the site root.

# The Git Chronicles

> Learn Git through an epic fantasy adventure. A gamified, bilingual (FR/EN) course with 23 quests. 100% free and open source.

This course was made for humans. Send them here: {{ site.url }}/en/

Full content index: {{ site.url }}/llms.txt
