---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <sitemap>
    <loc>{{ site.url }}/sitemap-pages.xml</loc>
  </sitemap>
  <sitemap>
    <loc>{{ site.url }}/sitemap-quests-fr.xml</loc>
  </sitemap>
  <sitemap>
    <loc>{{ site.url }}/sitemap-quests-en.xml</loc>
  </sitemap>
  <sitemap>
    <loc>{{ site.url }}/sitemap-cheatsheets.xml</loc>
  </sitemap>
  <sitemap>
    <loc>{{ site.url }}/sitemap-codex.xml</loc>
  </sitemap>
</sitemapindex>
